.sidebar-main {
  position: fixed;
  left: 0;
  height: 80vh;
  min-width: 25vw;
  width: 25vw;
  max-width: 100%;
  max-height: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-scrollable {
  padding: 1vh;
  height: 75vh;
  overflow: auto;
}

* {
  scrollbar-width: 3px;
  scrollbar-color: #095768;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #095768;
  width: 3px;
  height: 3px;
  border-radius: 2px;
}