.map-container {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 768px) {
  .map-container {
    height: 70vh;
  }
}

@media (min-width: 1200px) {
  .map-container {
    height: 80vh;
  }
}