.map-container {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .map-container {
    height: 79.5vh;
  }
}

@media (max-width: 1200px) {
  .map-container {
    height: 78.5vh;
    width: 100vw;
  }
}