@for(object of trip.places; track object.id) {
<div class="trip-object">
  <img [src]="object.imgUrl" alt="object.title" class="trip-object-img" />
  <div class="trip-object-content">
    <h1 class="trip-object-title">{{ object.title }}</h1>
    <p class="trip-object-description">{{ object.phone }}</p>
  </div>
  <fa-icon [icon]="faTrash" (click)="onClick(object)" class="delete-icon"></fa-icon>
</div>
} @empty {
<p>:(</p>
}
<span class="details-actions">
  <fa-icon [icon]="faRoad"></fa-icon>
  <fa-icon [icon]="faHourglass"></fa-icon>
  <button class="details-btn" (click)="closeDetails(true)">Wróć</button>
</span>