<div class="trip-object-list">
  @for(object of trip.places; track object.id) {
  <div class="trip-object">
    <div class="trip-object-content">
      <img [src]="object.imgUrl" alt="object.title" class="trip-object-img" />
      <div class="trip-object-text">
        <h1>{{ object.title }}</h1>
        <p>{{ object.description }} / {{ object.phone }}</p>
      </div>
    </div>
    <fa-icon [icon]="faTrash" (click)="onClick(object)" class="delete-icon"></fa-icon>
  </div>
  } @empty {
  <p>:(</p>
  }
</div>
<div class="trip-object-details">
  <fa-icon [icon]="faRoad" class="details-icon"></fa-icon>
  <fa-icon [icon]="faHourglass" class="details-icon"></fa-icon>
</div>
<div class="trip-object-actions">
  <button class="details-btn" (click)="closeDetails(true)">Wróć</button>
  <button class="details-btn">Zapisz</button>
</div>