.trip-date {
  display: flex;
  justify-content: flex-end;
  font-size: medium;
  color: #00adef;
}

.trip-object-list {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow: auto;
}

.trip-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.trip-object-content {
  display: flex;
  align-items: center;
}

.trip-object-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 0.5vw;
}

.trip-object-text {
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
}

h1 {
  margin: 0;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  margin-top: 10px;
  font-size: small;
  color: #555;
}

.trip-object-details {
  display: flex;
  justify-content: space-around;
}

.details-icon {
  padding: 0 1vw 0 1vw;
}

span {
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: smaller;
  opacity: 0.8;
}

.return-icon {
  cursor: pointer;
  padding-top: 1vh;
}

.return-icon:hover {
  color: #00adef;
}

.delete-icon {
  font-size: large;
  cursor: pointer;
  padding: 1.5px;
}

.delete-icon:hover {
  color: red;
}

.trip-object-actions {
  display: flex;
  justify-content: flex-start;
}