<div class="object-info-header">
  <fa-icon [icon]="faReturn" class="header-icons" (click)="onClick()"></fa-icon>
  <span>{{ object.category }}</span>
</div>
<hr>
<div class="object-info-trip-days">
  @for (tripDay of tripDays; track tripDay.id) {
  <button [class.isAddedToTripDay]="tripDay.objects.includes(object)" class="trip-day-btn"
    (click)="addObjectToTripDay(object, tripDay)">
    {{ tripDay.date.substring(8, 10) }}
  </button>
  }
</div>
<div class="object-info-content">
  <img [src]="object.imgUrl" alt="object.title" class="object-info-img" />
  <h2>{{ object.title }}</h2>
  <h4>{{ object.description }}</h4>
  <p>{{ object.email }}</p>
  <p>{{ object.phone }}</p>
</div>