.object-info-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
}

hr {
  opacity: 0.2;
}

.header-icons {
  font-size: large;
  cursor: pointer;
}

.header-icons:hover {
  color: #00adef;
}

span {
  text-transform: capitalize;
  font-weight: bold;
}

.object-info-trip-days {
  width: 100%;
  height: 5vh;
  padding-bottom: 0.5vh;
}

.trip-day-btn {
  display: inline-block;
  border: none;
  background-color: #00adef;
  height: 36px;
  width: 36px;
  color: white;
  cursor: pointer;
  padding: 4px;
  margin-right: 0.5vw;
}

fa-icon {
  font-size: 16px;
  font-weight: 300;
}

.isAddedToTripDay {
  background-color: black;
  cursor: pointer;
}

.object-info-content {
  padding-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.object-info-img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #00adef;
}