<header class="header-block">
  <div class="header-brand"></div>
  <nav class="navbar">
    <div class="navbar-list">
      <span class="navbar-list-item" (click)="changeSidebarView('map')">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        <a class="navbar-list-item-text">Mapa</a>
      </span>
      <span class="navbar-list-item" (click)="changeSidebarView('search')">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        <a class="navbar-list-item-text">Szukaj</a>
      </span>
      <span class="navbar-list-item" (click)="changeSidebarView('trip')">
        <div class="icon-span">
          <fa-icon [icon]="faPersonWalking"></fa-icon>
          <span class="notif-badge">{{ trip.days.length }}</span>
        </div>
        <a class="navbar-list-item-text">Wycieczka</a>
      </span>
      <span class="navbar-list-item" (click)="changeSidebarView('save')">
        <fa-icon [icon]="faFloppyDisk"></fa-icon>
        <a class="navbar-list-item-text">Zapisz</a>
      </span>
    </div>
  </nav>
</header>