.header-block {
  max-height: 100%;
  max-width: 100%;
  z-index: 10;
}

.header-brand {
  height: 15vh;
  background-color: #024661;
}

.navbar {
  background-color: #00adef;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list-item {
  display: inline-block;
  position: relative;
  padding: 1.5vh 1vw 1.5vh 1vw;
  width: 15vw;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.navbar-list-item:hover {
  background-color: #0391c9fd;
}

.navbar-list-item:not(:first-child):not(:last-child) {
  border-left: 2px solid rgba(255, 255, 255, .2);
}

.navbar-list-item:last-child {
  border-left: 2px solid rgba(255, 255, 255, .2);
}

.navbar-list-item-text {
  padding-left: 0.5vw;
}

fa-icon {
  padding-right: 1vh;
}

@media only screen and (max-width: 768px) {
  .navbar-list-item-text {
    display: none;
  }

  fa-icon {
    font-size: 2.5vh;
  }
}

.icon-span {
  display: inline-block;
  position: relative;
}

.notif-badge {
  background-color: black;
  border-radius: 50%;
  padding: 1px 4px 2px 4px;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}