<div class="trip-container">
  <div class="trip-header">
    <div>
      Wycieczka
    </div>
    <div class="trip-date">
      {{ trip.date }}
    </div>
  </div>
  <hr>
  @if (!detailsClicked) {
  <div class="trip-info">
    @for (object of trip.places; track object.id) {
    <li>
      <img [src]="object.imgUrl" alt="object.id" class="object-img" loading="lazy" />
    </li>
    }
  </div>
  <div class="trip-actions">
    <button class="trip-info-btn">Optymalizuj</button>
    <button class="trip-info-btn" (click)="onClick()">Szczegóły</button>
  </div>
  } @else {
  <app-sidebar-trip-details />
  }
  <hr>
</div>