<div class="trip-container">
  @if (!detailsClicked) {
  <div class="trip-header">
    <div>
      {{ trip.name }}
    </div>
    <input type="date" [defaultValue]="trip.days[0].date" [min]="currentDate" class="trip-datepicker" />
  </div>
  <hr>
  @for (tripDay of trip.days; track tripDay.id) {
  <div class="trip-day">
    <div class="trip-date">
      {{ tripDay.date }}
    </div>
    <div cdkDropList cdkDropListOrientation="horizontal" class="trip-info" (cdkDropListDropped)="drop($event, tripDay)">
      @for (object of tripDay.objects; track object.id) {
      <div class="trip-object-draggable" cdkDrag>
        <img [src]="object.imgUrl" [alt]="object.title" class="object-img" />
      </div>
      }
    </div>
    <div class="trip-actions">
      <button class="trip-info-btn" (click)="handleDetails(tripDay)">Szczegóły</button>
      @if (trip.days.length !== 1) {
      <button id="trash-btn" (click)="removeTripDay(tripDay.id)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      }
    </div>
  </div>
  }
  <div class="new-trip-day">
    <button id="add-btn" (click)="addNewTripDay()">
      <fa-icon [icon]="faPlus" style="font-size: 16px;"></fa-icon>
    </button>
  </div>
  } @else {
  <app-sidebar-trip-details (close)="handleDetails(null)" />
  }
</div>