.trip-container {
  padding: 1vh 1vw 1vh 1vw;
}

.trip-header {
  display: flex;
  justify-content: space-between;
}

.trip-date {
  color: #00adef;
}

.trip-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1.5vh;
  gap: 0.5vw;
}

hr {
  opacity: 0.2;
  padding: 2 0 2 0;
}

.trip-object-draggable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 1;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.trip-object-draggable:last-child {
  border: none;
}

.trip-object-draggable.cdk-drop-list-dragging:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.object-img {
  width: 5vw;
  height: 7vh;
  padding-top: 0.75vh;
}

.trip-actions {
  padding-top: 2vh;
  display: flex;
  justify-content: space-evenly;
}

#first-btn {
  background-color: rgb(185, 176, 176);
  cursor: not-allowed;
}

.trip-info-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 1vh 1vw 1vh 1vw;
  color: white;
  background-color: #00adef;
}

.trip-info-btn:hover {
  background-color: #0391c9fd;
}