.trip-container {
  padding: 1vh 1vw 1vh 1vw;
  animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  overflow-y: auto;
  max-height: 75vh;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.trip-header {
  display: flex;
  justify-content: space-between;
}

.trip-date {
  display: flex;
  justify-content: flex-end;
  color: #00adef;
  font-size: 15px;
}

.trip-datepicker {
  border: none;
  color: #00adef;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  font-family: "Lato", "sans-serif";
}

.trip-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1.5vh;
  gap: 0.5vw;
}

hr {
  opacity: 0.2;
  padding: 2 0 2 0;
}

.trip-object-draggable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 1;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.trip-object-draggable:last-child {
  border: none;
}

.trip-object-draggable.cdk-drop-list-dragging:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.object-img {
  width: 5vw;
  height: 7vh;
  padding-top: 0.75vh;
}

.trip-actions {
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
}

#trash-btn {
  background-color: transparent;
  font-size: large;
  cursor: pointer;
  padding: 1.5px;
  border: none;
}

#trash-btn:hover {
  color: red;
}

.trip-info-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 1vh 1vw 1vh 1vw;
  color: white;
  background-color: #00adef;
}

.trip-info-btn:hover {
  background-color: #0391c9fd;
}

.new-trip-day {
  display: flex;
  justify-content: center;
}

#add-btn {
  display: inline-block;
  border: none;
  background-color: #00adef;
  margin-top: 1vh;
  height: 48px;
  width: 48px;
  color: white;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #0391c9fd;
}