.trip-header {
  display: flex;
  justify-content: space-between;
}

.trip-date {
  color: #00adef;
}

.trip-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1.5vh;
}

hr {
  opacity: 0.2;
  padding: 2 0 2 0;
}

li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  cursor: grab;
}

.object-img {
  width: 5vw;
  height: 7vh;
  padding-right: 0.5vw;
  padding-top: 0.75vh;
}

.trip-actions {
  padding-top: 1vh;
  display: flex;
  justify-content: space-around;
}

.trip-info-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 0.5vw;
  color: white;
  font-size: small;
  font-weight: 300;
  background-color: #00adef;
}