<div class="trip-container">
  <div class="trip-header">
    <div>
      {{ trip.name }}
    </div>
    <input type="date" [defaultValue]="trip.date" [min]="currentDate" [ngModel]="tripDate"
      (ngModelChange)="onChange(tripDate = $event)" class="trip-datepicker" />
  </div>
  <hr>
  @if (!detailsClicked) {
  <div cdkDropList cdkDropListOrientation="horizontal" class="trip-info" (cdkDropListDropped)="drop($event)">
    @for (object of trip.places; track object.id) {
    <div class="trip-object-draggable" cdkDrag>
      <img [src]="object.imgUrl" [alt]="object.title" class="object-img" />
    </div>
    } @empty {
    <p>...</p>
    }
  </div>
  <div class="trip-actions">
    <button class="trip-info-btn" id="first-btn" disabled>Optymalizuj</button>
    <button class="trip-info-btn" (click)="openDetails()">Szczegóły</button>
  </div>
  } @else {
  <app-sidebar-trip-details (close)="closeDetails()" />
  }
</div>