main {
  padding-right: 1vh;
  animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.icon-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1vh 0 1vh 0.5vh;
}

fa-icon {
  color: #00adef;
  font-size: larger;
}

.icon-close {
  color: rgba(151, 149, 149, 0.747);
  margin-left: auto;
  transition: all 200ms ease-out;
}

.isCollapsed {
  transform: rotate(-180deg)
}

input[type="text"] {
  width: 85%;
  max-width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: small;
  padding-left: 1vw;
  letter-spacing: 0.1px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #8e8e8e;
  font-size: medium;
}

label {
  display: grid;
  grid-template-columns: 1vw auto;
  padding-left: 2vw;
  gap: 0.5vw;
  margin-bottom: 1vh;
}

.radio-text {
  padding-top: 0.15vh;
  opacity: 0.7;
  font-size: 12px;
  text-transform: uppercase;
}

.categories-input {
  box-sizing: border-box;
  color: gray;
  padding-left: 1vw;
  padding-top: 0.1vh;
}

.collapsible .content {
  overflow: hidden;
  max-height: 0;
  padding: 0;
}

.collapsible .content.collapsed {
  max-height: 100%;
}