<main class="object-list">
  @for
  (object of objects |
  searchFilter: filters.searchQuery |
  criteriaFilter: filters.criteria |
  paginate: { itemsPerPage: 5, currentPage: page }; track object.id) {
  <li (click)="onClick(object)">
    <img [src]="object.imgUrl" alt="object.id" class="object-img" />
    <div class="object-content">
      <p class="object-title">{{ object.title }}</p>
      <p class="object-description">{{ object.description | shortenDescription }}</p>
    </div>
  </li>
  }
  <pagination-controls (pageChange)="page = $event" class="pagination-controls"></pagination-controls>
</main>